/* TODAS AS PÁGINAS */

.root {
    --cor-principal: #272727;
}


/* INDEX.HTML */

* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-redes-sociais {
    width: 3%;
}

.foto-capa {
    width: 100vw;
    height: 60vh;
}

.cabecalho {
    padding: 3%;
    height: 30%;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #272727;
}

.conteudo {
    background-color: #a621c0;
    /*     padding: 5%;
 */
}

.rodape {
    background-color: #707070;
}


/* FUNCIONARIOS */


/* ESTOQUE */

.produtos {
    width: 350px;
    height: 250px;
}

.produtos:hover {
    color: black;
}


/* PRODUTO */