/* TODAS AS PÁGINAS */

.root {
    --cor-principal: #272727;
}


/* INDEX.HTML */

* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #001A33;
}

.img-redes-sociais {
    width: 3%;
}

.foto-capa {
    width: 100vw;
    height: 40vh;
}

.cabecalho {
    padding: 3%;
    height: 32%;
    color: #001A33;
    font-size: 25px;
    background-color: #F05A9C;
}

.conteudo {
    background-color: #001A33;
    padding: 5%;
    height: 150px;
    color: #fff;
}

.rodape {
    background-color: #1C2751;
    color: 001A33;
    border-radius: 2px;
}

.img3-redes-sociais:hover {
    color: pink;
}


/* FUNCIONARIOS */


/* ESTOQUE */

.titulo-controle-de-estoque {
    padding: 0px 0px 30px 0px;
    font-size: 30px;
}

.produtos {
    width: 350px;
    height: 250px;
}


/* PRODUTO */