/* TODAS AS PÁGINAS */

.root {
    --cor-principal: #272727;
}


/* INDEX.HTML */

* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

.img-redes-sociais {
    width: 3%;
}

.foto-capa {
    width: 100vw;
    height: 40vh;
}

.cabecalho {
    padding: 3%;
    height: 32%;
    color: #001A33;
    font-size: 25px;
    background-color: #F05A9C;
}

.conteudo {
    background-color: #001A33;
    padding: 7%;
    height: 150px;
    color: #fff;
    /*     padding: 5%;
 */
}

.rodape {
    background-color: #1C2751;
    color: 001A33;
    border: 2px solid #F05A9C;
    border-radius: 2px;
}


/* FUNCIONARIOS */


/* ESTOQUE */

.produtos {
    width: 350px;
    height: 250px;
}

.produtos:hover {
    color: black;
}


/* PRODUTO */

.img-estilo:hover {
    color: gray;
}