@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: 'Eczar', serif;
    color: honeydew;
}

img {
    border-radius: 5px;
    width: 23vw;
    height: 13vw;
}

header {
    color: #d40c0c;
    background-image: linear-gradient(#020202, #020202, #020202, #141414);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 10vh;
}

input {
    border: none;
    background-color: #000;
    height: 25px;
    width: 20vw;
    border-radius: 3px;
    color: #FFF;
}

input:hover {
    background-color: #272727;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    height: 88vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    width: 23vw;
    height: 42vh;
}

section:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #0c0b0b;
    font-size: larger;
    color: #d40c0c;
}

section:active {
    border: 2px solid black;
}

section h3 {
    margin: 15px;
}

article {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    padding: 10px;
    height: 65vh;
    margin: 10px;
}

footer h2 {
    margin: 10px;
    color: #F0F0F0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #970a0a;
    height: 12vh;
}

.img-compartilhar {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 426px) {
    main {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
    }
    section {
        width: 95vw;
        height: 35vh;
        margin: 0;
    }
    img {
        width: 95vw;
        height: 28vh;
    }
    section h3 {
        margin: 5px;
    }
    article {
        justify-content: start;
        width: 94vw;
        margin: 0;
    }
    article h2 {
        margin: 40px 5px 5px 5px
    }
    video {
        padding: 10px;
        height: auto;
        width: 100vw;
        margin: 0;
    }
    footer {
        padding: 10px;
    }
    footer {
        font-size: 8px;
    }
    section:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        border: 2px solid #000
    }
}